.contact-container {
  /* margin: auto; */
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* p {
  font-size: 1.2rem;
} */

.contact-card {
  width: 100%;
  box-shadow: 0 0 3px #0003;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* width: var(--max-page-width); */
  height: 300px;
  background-color: rgba(255, 255, 255, 0.9);
  /* padding: 0 20px 30px 20px; */
  padding: 50px;
  /* margin: 50px 20px; */
  position: relative;
  /* font-size: 1.5rem; */
  text-align: center;
}

footer {
  margin: 0;
}

#weblogo {
  /* height: 200px; */
  width: 300px;
}

.logo-container {
  text-align: center;
  position: absolute;
  top: 0;
  width: 100%;
  margin-top: 30px;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
}

.contact-details {
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-icon {
  height: 50px;
  /* margin: 10px; */
  filter: var(--filter-accent);
}

.customer-btn {
  width: fit-content;
  height: 30px;
  background-color: var(--secondary-color);
  color: white;
  border: none;
  margin-inline: auto;
  transition: 150ms;
  border-radius: 3px;
  text-decoration: none;
  text-align: center;
  display: flex;
  align-items: center;
  padding: 10px;
}
.customer-btn:hover {
  color: var(--secondary-color);
  background-color: var(--accent-color);
}

.contact-title {
  font-size: 1.3rem;
  font-weight: 700;
}
