/* ----Header---- */
header {
  background-color: var(--primary-color);
  height: 100px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
}

.top-header {
  line-height: 1rem;
  color: white;
  height: 20px;
  background-color: var(--secondary-color);
  text-align: right;
}

.top-container {
  max-width: var(--max-page-width);
  margin: auto;
}

.top-header a {
  text-decoration: none;
  color: white;
  font-size: 0.8rem;
  margin: 0 10px;
  transition: 150ms;
}

.top-header a:hover {
  /* opacity: 80%; */
  color: var(--accent-color);
}

nav {
  /* background-color: var(--secondary-color); */
  height: 80px;
  display: flex;
  /* border-bottom: 1px solid var(--primary-color); */

  box-shadow: 0 5px 2px var(--accent-color);
}

header a:has(img) {
  padding: 10px;
  line-height: 0;
  transition: 150ms;
}

.btn-shadow {
  transition: 150ms;
}

.btn-shadow:hover {
  filter: var(--filter-accent);
}

#profile-btn {
  background-color: white;
  border: 2px solid var(--secondary-color);
  height: 30px;
  width: 30px;
  margin: 0 10px;
  border-radius: 50%;
  text-decoration: none;
  display: flex;
  position: relative;
  justify-content: center;
  transition: 150ms;
}

#profile-btn:hover {
  border-color: var(--accent-color);
}

.logged-out:hover img {
  filter: blur(2px);
  opacity: 30%;
}

.logged-out span {
  position: absolute;
  align-self: center;
  font-size: 0.6rem;
  transition: 150ms;
  color: black;
  opacity: 0%;
}

.hidden {
  display: none;
}

.logged-out:hover span {
  opacity: 100%;
}

.logged-out img {
  transition: 150ms;
}

#brand {
  font-weight: bolder;
  text-decoration: none;
  font-size: 1.5rem;
  text-align: left;
  color: var(--secondary-color);
  line-height: 1.5rem;
  display: flex;
  align-items: center;
}

.brand {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.brand div {
  line-height: 1.4rem;
}

.brand div:first-child {
  color: var(--accent-color);
  font-size: 1.5rem;
}
.brand div:nth-child(2) {
  color: var(--secondary-color);
  text-align: right;
  font-size: 1.8rem;
}

.brand-logo {
  height: 60px;
  width: 60px;
  /* display: flex; */
  translate: 7px -1px;
}

.nav-search,
.nav-right {
  display: flex;
  align-items: center;
}

.nav-container {
  height: 60px;
  max-width: var(--max-page-width);
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  /* overflow: hidden; */
}

.nav-search {
  width: 100%;
  display: flex;
  justify-content: center;
}

#search-bar {
  /* height: 20px; */
  max-width: 580px;
  width: 100%;
  border: none;
  padding: 10px 10px;
  border-radius: 3px;
  outline: 2px solid var(--secondary-color);
}

#search-btn img,
#cart-btn img {
  filter: var(--filter-secondary);
  margin: 10px;
}

/* 
#cart-btn {
  color: var(--secondary-color);
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* @media only screen and (max-width: 480px) {
  #brand {
    font-size: 1rem;
  }
} */
