.login-container {
  margin-top: 70px;
  margin-bottom: 80px;
  width: 100%;
  height: 600px;
  /* background-color: var(--secondary-color); */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* background-blend-mode: darken; */
  position: relative;
}

#pangasinan-bg {
  /* height: 500px; */
  width: 120%;
  /* left: 0;
  right: 0; */
  /* margin: auto; */
  position: absolute;
  filter: var(--filter-primary) blur(20px);
  opacity: 50%;
  z-index: -1;
}

body {
  background-color: white !important;
}

/* main section {
  background-color: var(--primary-color);
} */

.login-brand {
  width: 1000px;
  text-align: center;
  font-size: 1.5rem;
  transition: 300ms ease-in-out;
}

.login-brand.small {
  width: 600px;
  font-size: 1rem;
}

.login-brand img {
  width: 100%;
  filter: blur(0.5px);
  /* translate: 0 -15px; */
}

.login-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 500px;
}

.signup-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 500px;
  /* background-color: white; */
  /* padding: 0 20px 30px 20px; */
  /* margin: 50px 20px; */
}

.signup-section {
  width: 48%;
}

.login-window {
  transition: 500ms ease-in-out;
  translate: 0 0;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.login-window.change-window {
  translate: 0 -500px;
}

.login-card span,
.signup-card span {
  /* position: absolute; */
  /* top: 30px; */
  margin: 0;
  width: 100%;
  text-align: center;
}

.login-signup-window {
  overflow: hidden;
  height: 500px;
}

.login-signup-btn {
  color: var(--accent-color);
  text-decoration: none;
  transition: 150ms;
  margin: auto;
  display: block;
  width: fit-content;
}

.login-signup-btn:hover {
  color: var(--secondary-color);
}

.login-form {
  /* border: 3px solid var(--secondary-color); */
  color: var(--secondary-color);
}

.login-container input[type="text"],
.login-container input[type="password"],
.login-container input[type="email"] {
  border-radius: 3px;
  font-size: 0.8rem;
  width: 100%;
  padding: 10px 15px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid var(--secondary-color);
  box-sizing: border-box;
  outline: none;
}

.login-window button {
  background-color: var(--secondary-color);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  transition: 150ms;
  /* outline: 2px solid var(--secondary-color); */
}

.login-windowbutton:hover {
  color: var(--secondary-color);
  background-color: var(--accent-color);
}

.card-container {
  padding: 16px;
  position: relative;
}

.signup-container {
  /* padding: 16px; */
  position: relative;
  display: flex;
  justify-content: space-between;
  /* flex-direction: column; */
}

.signup-container input[type="date"],
.signup-container select {
  border: 2px solid var(--secondary-color);
  height: 40px;
  border-radius: 3px;
  width: 100%;
  margin: 8px 0;
  padding: 0;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* @media screen and (max-width: 480px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
} */
