.cart-container {
  color: var(--secondary-color);
  margin-bottom: 30px;
}

.cart-table {
  color: var(--secondary-color);
  width: 100%;
  /* margin: 0 20px; */
  overflow: hidden;
  border-collapse: collapse;
}

.cart-table tr:nth-child(1) {
  color: var(--primary-color);
  height: 30px;
}

.cart-table tr {
  display: block;
  /* border-bottom: 2px solid var(--primary-color); */
  padding: 10px;
  background-color: var(--secondary-bg-color);
  margin-bottom: 10px;
}

.cart-table tr:not(:first-child) {
  height: 100px;
}

.cart-table tr th:nth-child(1) {
  width: 50px;
}

.cart-table tr:not(:first-child) th:nth-child(2) {
  height: 100px;
}

.cart-table tr th:nth-child(2) {
  width: 100px;
}

.cart-table tr th:nth-child(3) {
  width: 580px;
}

.cart-table tr th:nth-child(4) {
  width: 130px;
}

.cart-table tr th:nth-child(5) {
  width: 130px;
}

.cart-table tr th:nth-child(6) {
  width: 130px;
}

.cart-table tr th:nth-child(7) {
  width: 50px;
}

.cart-table tr:not(:first-child) th:nth-child(3) h3 {
  text-align: left;
  width: 500px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin: 0 10px;
  text-overflow: ellipsis;
}

.cart-table tr:not(:first-child) th:nth-child(3) h5 {
  text-align: left;
  margin: 0 10px;
  font-weight: lighter;
}

.cart-table tr:not(:first-child) th:nth-child(2) {
  border-radius: 2px;
  background-image: url(/assets/images/products/product-7.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.cart-quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid var(--secondary-color); */
  width: fit-content;
  margin: auto;
}

.cart-quantity input {
  border: none;
  border-top: 2px solid var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
  text-align: center;
  width: 30px;
  height: 26px;
  padding: 0;
  margin: 0;
}

.cart-quantity-btn {
  background-color: var(--secondary-color);
  color: var(--secondary-bg-color);
  text-align: center;
  height: 30px;
  width: 30px;
  border: none;
  transition: 150ms;
}

.cart-quantity-btn:hover {
  background-color: var(--primary-color);
  color: var(--secondary-bg-color);
}

.delete-cart {
  filter: var(--filter-secondary-color);
  display: inline-block;
  width: 24px;
  height: 24px;
  transition: 150ms;
}
.delete-cart:hover {
  filter: var(--filter-primary-color);
}

.to-checkout {
  width: 50%;
  background-color: var(--secondary-bg-color);
  padding: 1rem;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.to-checkout * {
  margin: 10px;
}

.subtotal-1,
.subtotal-2,
.shipping-fee {
  margin: 10px 30px;
  display: flex;
  justify-content: space-between;
}

.subtotal-2 {
  font-size: 1.2rem;
}

#checkout-btn {
  align-self: center;
  color: var(--primary-bg-color);
  background-color: var(--secondary-color);
  padding: 0 10px;
  text-align: center;
  height: 50px;
  border: none;
  transition: 150ms;
}

#checkout-btn:hover {
  background-color: var(--primary-color);
}
