/* ----Header---- */
header {
  background-color: var(--primary-color);
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
}

nav {
  /* background-color: var(--secondary-color); */
  height: 100%;
  display: flex;
  /* border-bottom: 1px solid var(--primary-color); */
  /* overflow: hidden; */
  box-shadow: 0 -5px 10px black;
}

header a:has(img) {
  padding: 10px;
  line-height: 0;
  transition: 150ms;
}

.btn-shadow:hover {
  filter: drop-shadow(0 0 10px rgb(255 255 255/ 1));
}

#profile-btn {
  background-color: var(--secondary-color);
  border: 3px solid var(--accent-color);
  height: 30px;
  width: 30px;
  margin: 0 10px;
  border-radius: 50%;
  text-decoration: none;
  display: flex;
  position: relative;
  justify-content: center;
}

.logged-out:hover img {
  filter: blur(2px);
  opacity: 30%;
}

.logged-out span {
  position: absolute;
  align-self: center;
  font-size: 0.6rem;
  transition: 150ms;
  color: black;
  opacity: 0%;
}

.logged-out:hover span {
  opacity: 100%;
}

.logged-out img {
  transition: 150ms;
}

#brand {
  font-weight: bolder;
  text-decoration: none;
  font-size: 1.5rem;
  text-align: left;
  color: var(--secondary-color);
  line-height: 1.5rem;
  display: flex;
  align-items: center;
  /* flex-direction: column; */
}

.brand {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.brand div {
  line-height: 1.4rem;
}

.brand div:first-child {
  color: var(--accent-color);
  font-size: 1.5rem;
}
.brand div:nth-child(2) {
  color: var(--secondary-color);
  text-align: right;
  font-size: 1.8rem;
}

.brand-logo {
  height: 60px;
  width: 60px;
  /* display: flex; */
  translate: 7px -1px;
}

.nav-search,
.nav-right {
  display: flex;
  align-items: center;
}

.nav-container {
  height: 60px;
  max-width: var(--max-page-width);
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
}

.nav-search {
  width: 100%;
  display: flex;
  justify-content: center;
}

#search-bar {
  /* height: 20px; */
  max-width: 580px;
  width: 100%;
  border: none;
  padding: 10px 10px;
  outline: none;
}

#search-btn img,
#cart-btn img {
  filter: var(--filter-white);
}

/* @media only screen and (max-width: 480px) {
  #brand {
    font-size: 1rem;
  }
} */
