:root {
  --primary-color: #041562;
  --secondary-color: #11468f;
  --accent-color: #da1212;
  --primary-bg-color: #eeeeee;
  --secondary-bg-color: #ffffff;
  --max-page-width: 1200px;
  --min-page-width: 1080px;
}

.product-view {
  padding: 10px 0;
  background-color: var(--secondary-bg-color);
}

.product-view-price {
  margin: 10px 0;
  display: flex;
  align-items: center;
}

.product-view-sale-text {
  width: fit-content;
  margin: 0 20px;
}
.product-view-shop {
  justify-self: end;
}

.shop-btn {
  background-color: var(--secondary-bg-color);
  color: var(--secondary-color);
  margin: 10px 5px 10px 0;
  text-align: center;
  height: 50px;
  width: 50px;
  border: 2px solid var(--secondary-color);
  transition: 150ms;
}

.shop-btn:hover {
  background-color: var(--primary-color);
  color: var(--secondary-bg-color);
}

.product-view-shop span {
  color: var(--secondary-bg-color);
  padding: 0 0 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary-color);
}

.product-view-shop section {
  display: flex;
}

#chat-shop-btn {
  text-decoration: none;
  line-height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85px !important;
  margin-left: 3px;
  margin-right: 10px;
}

#chat-shop-btn img {
  filter: invert(19%) sepia(27%) saturate(5195%) hue-rotate(202deg)
    brightness(96%) contrast(93%);
  width: 30px;
  height: 30px;
  margin: 0 3px 0 0;
}

#visit-shop-btn {
  text-decoration: none;
  line-height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px !important;
}

.product-view h2,
.product-view h4,
.product-view h5 {
  margin: 0;
}

.product-view-container {
  display: flex;
}

.product-view-image {
  overflow: hidden;
  display: flex;
  border: 2px solid var(--primary-bg-color);
  width: 500px;
  height: 500px;
}

.product-view-image img {
  align-self: center;
  width: 100%;
}

.product-view-gallery {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-view-gallery span {
  display: flex;
  align-items: center;
  margin: 0 5px;
  border: 2px solid var(--primary-bg-color);
  overflow: hidden;
  width: 90px;
  height: 90px;
  transition: 150ms;
}

.product-view-gallery span:hover {
  border: 2px solid var(--primary-color);
}

.product-view-gallery span img {
  width: 100%;
}

#product-view-name {
  height: 4.5rem;
  overflow: hidden;
}

.product-view-details {
  justify-content: space-between;
  /* height: 504px; */
  color: var(--secondary-color);
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  background-color: var(--secondary-bg-color);
}

.product-view-stock > * {
  display: inline;
}

.product-view-stock h5 {
  margin-left: 10px;
  font-weight: 100;
}

.product-view-btn {
  color: var(--primary-bg-color);
  background-color: var(--secondary-color);
  text-align: center;
  height: 50px;
  width: 50px;
  border: 2px solid var(--secondary-color);
  transition: 150ms;
}

.product-view-btn:hover {
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
}

.product-view-variants button:not(:last-child),
.product-view-quantity button:not(:last-child) {
  margin-right: 10px;
}

.variant-unchecked {
  color: var(--secondary-color);
  background-color: var(--secondary-bg-color) !important;
  border: 2px solid var(--primary-bg-color);
  transition: 150ms;
}

.variant-unchecked:hover {
  color: var(--primary-bg-color);
  background-color: var(--primary-color) !important;
  border: 2px solid var(--primary-color);
}

.variant-btn:hover {
  border: 2px solid var(--primary-color);
}

.variant-name {
  font-size: 0.8rem;
}

.order-buttons {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 50px;
}

.order-buttons section:nth-child(1) button {
  margin: 0;
}

.order-buttons section:nth-child(1) {
  display: flex;
  justify-content: space-between;
  width: 150px;
  align-items: center;
}

.order-buttons section:nth-child(2) {
  display: flex;
}

#buy-now-btn {
  width: 130px;
}

.product-view-quantity h4 {
  display: inline;
}

.product-view-quantity {
  /* margin-top: 10px; */
}

#add-cart-btn {
  margin-right: 0;
}

#add-cart-btn img {
  filter: invert(98%) sepia(38%) saturate(105%) hue-rotate(284deg)
    brightness(113%) contrast(87%);
  transform: translate(-2px, 0);
}

.product-details-container {
  background-color: var(--secondary-bg-color);
  padding: 20px;
}

.review {
  background-color: var(--secondary-bg-color);
  padding: 20px;
  display: flex;
  margin: 10px 0;
}

.review-profile-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.review-profile-section img {
  background-color: var(--primary-bg-color);
  height: 50px;
  width: 50px;
  padding: 10px;
  border-radius: 50%;
  border: 2px solid var(--secondary-color);
}

.review-profile-section {
  width: 100px;
}

.review-profile-section h5 {
  margin: 10px 0 0 0;
}

.review-rating-section {
  width: 90%;
  padding: 0 15px;
}

@media only screen and (max-width: 480px) {
  main {
    min-width: 0;
  }

  #products.shop {
    grid-template-columns: repeat(6, 205px);
    overflow: scroll;
  }

  .product-view {
    padding-bottom: 0;
  }

  .product-view-image {
    width: 99vw;
    height: 400px;
  }

  .product-view-container {
    flex-direction: column;
  }

  .product-view-details {
    width: calc(100vw - 20px);
    padding: 10px;
    /* padding-bottom: 0; */
  }

  .product-view-gallery {
    flex-direction: row;
  }
  .product-view-gallery span {
    margin: 0;
  }

  .review {
    font-size: 0.8rem;
  }
}
